body {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	font-family: monospace;
}
#console {
	display: block;
	font-size: 16px;
}
@media screen and (min-width: 480px) {
	#console {
		display: block;
		margin: 15% 20%;
	}
}
#console-output {
	display: block;
	word-wrap: break-word;
}
#console-input {
	display: flex;
	word-wrap: break-word;
}
.console-input-prompt {
	display: flex;
	word-wrap: break-word;
}
.console-input-command {
	outline: none;
	word-wrap: break-word;
	width: 90%;
}